<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
            android:name=".ApplicationWithDI"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:enableOnBackInvokedCallback="true"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:localeConfig="@xml/locales_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.DictionaryApk"
            tools:targetApi="31">
        <activity
                android:name=".activity.SearchWordsActivity"
                android:exported="false"/>
        <activity
                android:name=".activity.GrammarLearningActivity"
                android:exported="false"/>
        <activity
                android:name=".activity.GrammarFilterActivity"
                android:exported="false"/>
        <activity
                android:name=".activity.GrammarCheckActivity"
                android:exported="false"/>
        <activity
                android:name=".activity.ConfigurationPresetsActivity"
                android:exported="false"
                android:label="@string/configuration_presets"/>
        <activity
                android:name=".activity.WordMatcherActivity"
                android:exported="false"
                android:label="@string/match_words"/>
        <activity
                android:name=".activity.EditWordActivity"
                android:exported="false"
                android:label="@string/action_edit"/>
        <activity
                android:name=".activity.VoiceSelectorActivity"
                android:exported="false"
                android:label="@string/title_activity_voice_selector"/>
        <activity
                android:name=".activity.ParseWordsSettingsActivity"
                android:exported="false"
                android:label="@string/title_activity_parse_words_settings"/>
        <activity
                android:name=".activity.FilterWordsActivity"
                android:exported="false"
                android:label="@string/find_words"/>
        <activity
                android:name=".activity.ExportWordsActivity"
                android:exported="false"
                android:label="@string/export_words_to_file"/>
        <activity
                android:name=".activity.AssetsActivity"
                android:exported="false"
                android:label="@string/title_activity_assets"/>
        <activity
                android:name=".activity.SettingsActivity"
                android:exported="false"
                android:label="@string/title_activity_settings"/>
        <activity
                android:name=".activity.SpeechRecognitionActivity"
                android:exported="false"
                android:label="SpeechRecognitionActivity"/>
        <activity
                android:name=".activity.MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.DictionaryApk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>